*{
    margin: 0;
    padding: 0 ;
}

header {
    font-family: 'Roboto', sans-serif;
    height: 500px;
    background-color: #1F2937 ;
}

nav{
    display: flex;
    justify-content: space-between;
    
}

.nav-left{
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 25vh;
    margin-top: 15px;
    font-weight: bolder;
}
.nav-right{
    
    font-size: 18px;
    margin-right: 25vh;
    margin-top: 15px;
}

.nav-right>ul{
    list-style: none;
    display: flex;
    gap: 25px;
    color: #E5E7EB;
}

.hero{
    margin-left: 25vh;
    margin-top: 15vh;
    display: flex;
    gap: 200px;
}
.hero-left>h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
}
.hero-left>p{
    font-size: 18px;
    color: #E5E7EB;

}
.hero-left>button{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bolder;
    width: 120px;
    font-size: 16px;
}
.hero-right{
    margin-right: 25vh;
}